*{
    margin:0;
}

html, body{
    height: 1000vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    background-color: #20031a;
    opacity: 0.95;
}


.view{
    position: relative;
    padding-top: 10vh;
    padding-left: 13vw;
    height: 100vh;
    background-color: #20031a; 
    
} 

.view .leerplan{
    position: absolute;
    margin-right: 20vw;
    padding-top: 20vh;
   

}

.view .gorilla{
    top: 10px;
    margin-left: 17vw;
}

#firstPage{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 11vw;
    
    letter-spacing: 5vw; 
    color: #f19ec4;
    text-shadow: 8px 8px 20px #000;
}

.name{
    position: relative;
    margin-right: 400px;
    font-size: 16px;
    text-align: right;
    z-index:-1;
}

#secondPage{
    position: relative;
    color: #20031a;
    border-top: 5px solid #000;
    text-shadow: 1px 1px 3px #000;
}

.one{
    align-items: center;
    height: 100vh;
    background-color: #20031a ;
    box-sizing: border-box;
    position: relative;
    font-size: 2vw;
    color: #f19ec4;
    text-shadow: 1px 1px 5px #000;   
}

.one .list1 ul li{
    text-shadow: 1px 1px 5px #000;
}

.list1{
    float: left;
    width: 47%;
    text-shadow: 1px 1px 5px #000;
}
.list1 ul{
    list-style-type: none;
    margin-left: 5vw;
    text-shadow: 1px 1px 5px #000;
}

.list2{
   float: right;
    width: 47%;
    
}
.list2 ul{
    list-style-type: none;
    margin-left: 5vw;
    
}

#thirthPage{
    position: relative;
    color: #20031a;
    
    border-top: 5px solid #000;
    text-shadow: 0.5px 0.5px 2px #000;
}
.twotwo .p1{
    border: 2px solid #20031a;
    color: #20031a;
    margin-left: 15.5vw;
}
.twotwo .p2{
    border: 2px solid #20031a;
    margin-left: 17.5vw;
}
.twotwo .p3{
    border: 2px solid #20031a;
    margin-left: 11.5vw;
}
.twotwo .p4{
    border: 2px solid #20031a;
    margin-left: 11.3vw;
}

.two{
    padding-top: 30vh;
    padding-left: 13vw;
    align-items: center;
    height: 100vh;
    background-color: #f19ec4 ;
    box-sizing: border-box;
    position: relative;
    font-size: 2vw;
    color: #20031a;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px #000;  
}
.twotwo{
    padding-top: 5vh;
    padding-left: 27vw;
    align-items: center;
    height: 100vh;
    background-color: #f19ec4 ;
    box-sizing: border-box;
    position: relative;
    font-size: 2vw;
    color: #20031a;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px #000;  
}

#fourthPage{
    position: relative;
    color: #20031a;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    text-shadow: 0.5px 0.5px 2px #000;
    font-weight: 500;

}
.three{
    padding-top: 5vh;
    padding-left: 27vw;
    align-items: center;
    height: 100vh;
    background-color: #20031a ;
    box-sizing: border-box;
    position: relative;
    font-size: 2vw;
    color: #f19ec4;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px #000; 
}

.three .p1{
    border: 2px solid #f19ec4;
    margin-left: 17vw;
}
.three .p2{
    border: 2px solid #f19ec4;
    margin-left: 14vw;
}
.three .p3{
    border: 2px solid #f19ec4;
    margin-left: 14.2vw;
}
.three .p4{
    border: 2px solid #f19ec4;
    margin-left: 15.8vw;
}

#fifthPage{
    height: 100vh;
    position: relative;
    color: #20031a;
    line-height: 1.6em;
    border-bottom: 5px solid #000;
    text-shadow: 1px 1px 5px #000;
}
.twotwotwo{
    padding-top: 4vh;
    padding-left: 27vw;
    align-items: center;
    height: 100vh;
    background-color: #f19ec4 ;
    box-sizing: border-box;
    position: relative;
    font-size: 2vw;
    color: #20031a;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px #000;  
}

.twotwotwo .p1{
    border: 2px solid #20031a;
    margin-left: 14.5vw;
}
.twotwotwo .p2{
    border: 2px solid #20031a;
    margin-left: 17.3vw;
}
.twotwotwo .p3{
    border: 2px solid #20031a;
    margin-left: 6.3vw;
}
.twotwotwo .p4{
    border: 2px solid #20031a;
    margin-left: 3vw;
}
.twotwotwo .p5{
    border: 2px solid #20031a;
    margin-left: 2vw;
}

#sixthPage{
    height: 150vh;
    position: relative;
    color: #20031a;
    line-height: 1.6em;
    border-bottom: 5px solid #000;
    text-shadow: 1px 1px 5px #000;
}

.five{
    padding-top: 4vh;
    padding-left: 3vw;
    align-items: center;
    height: 100vh;
    background-color: #20031a ;
    box-sizing: border-box;
    position: relative;
    font-size: 1.5vw;
    color: #d46999;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px #000;  
}



.five .p1{
    border: 2px solid #f19ec4;
    margin-left: 11.6vw;
}
.five .p2{
    border: 2px solid #f19ec4;
    margin-left: 13.3vw;
}
.five .p3{
    border: 2px solid #f19ec4;
    margin-left: 8.8vw;
}
.five .p4{
    border: 2px solid #f19ec4;
    margin-left: 6.2vw;
}
.five .p5{
    border: 2px solid #f19ec4;
    margin-left: 3vw;
}
.five .p6{
    border: 2px solid #f19ec4;
    margin-left: 4.8vw;
}

#seventhPage{
    height: 100vh;
    position: relative;
    color: #20031a;
    line-height: 1.6em;
    border-bottom: 5px solid #000;
    text-shadow: 1px 1px 5px #000;
}

.six{
    padding-top: 4vh;
    padding-left: 3vw;
    align-items: center;
    height: 200vh;
    background-color: #20031a ;
    box-sizing: border-box;
    position: relative;
    font-size: 1.5vw;
    color: #d46999;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px #000;  
}
.six .p1{
    border: 2px solid #f19ec4;
    margin-left: 11.6vw;
}
.six .p2{
    border: 2px solid #f19ec4;
    margin-left: 13.3vw;
}
.six .p3{
    border: 2px solid #f19ec4;
    margin-left: 8.8vw;
}
.six .p4{
    border: 2px solid #f19ec4;
    margin-left: 6.2vw;
}
.six .p5{
    border: 2px solid #f19ec4;
    margin-left: 3vw;
}
.six .p6{
    border: 2px solid #f19ec4;
    margin-left: 4.8vw;
}

