

 .body {
     margin:0;
     padding: 0;
 }   


.wrapper{
    display: grid;
    grid-template-columns: 25% 30% 30% 15%;
    grid-column-gap:1px;
    grid-row-gap: 1px;
    grid-auto-rows: minmax(200px, auto);
    font-family: calibri, sans-serif;
    margin-left: 140px;
    margin-right: 140px;
    
}

.wrapper > div{
    
    padding:10px;
}

.one{
    color:#ff8c00;
}
.two{
    text-align: center;
    color:#ff8c00;
}

.font{
    font-size: 16px;
}

.box1{
    grid-column: 1;
    grid-row: 1;
    border: 1px solid #333;
    border-radius: 10px;
    grid-auto-rows: minmax(150px, auto);
    background: #202020;
    color:#eaeaea;
}
.box2{
    grid-column: 2/4;
    grid-row: 3 / 6;
    border: 1px solid #333;
    border-radius: 10px;
    background:#f0f0f0;
}

.opmaak2{
    padding: 0px 80px;
}

.opmaak2 ins{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

.opmaak2 h3{
    padding: 0 0 5px 0;
}

.box3{
    grid-column: 2/5;
    grid-row: 1;
    border: 1px solid #333;
    background-image: url("leeuwklein.jpg");
    color:#ff8c00;
    text-align: left;
    border-radius: 10px;
    }

.write{
    font-family: "Brush Script", sans-serif;
}
.box4{
    grid-column: 2/1;
    grid-row: 2;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    background:  #202020;
    color:#f0f0f0 ;
    font-size: 13px;
}
.box5{
    grid-column: 2/5;
    grid-row: 2;
    border: 1px solid #333;
    border-radius: 10px;
    background:#f0f0f0;
    
}


.opmaak5{ 
    padding: 5px 80px;

}
.box6{
    grid-column: 1;
    grid-row: 3/4;
    border: 1px solid #333;
    border-radius: 10px;
    background: #202020;
    color:#f0f0f0;
    font-size: 13px;
    text-align: center;
}
.box7{
    grid-column: 1;
    grid-row: 4/6;
    border: 1px solid #333;
    border-radius: 10px;
    color:#f0f0f0;
    background: #202020 ;
    font-size:13px;
      
}

.box8{
    grid-column: 4;
    grid-row: 3/5;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 16px;
    background: #f0f0f0 ;
}
.opmaak8{
    padding-left: 10px;
}
.opmaak8 h2{
    color: #ff6700;
    
}
.box9{
    grid-column: 4;
    grid-row: 5/6;
    border: 1px solid #333;
    border-radius: 10px;
    color:#ff8c00;
    background: #f0f0f0 ;
    font-size:13px;
}




/* progress bar */

.progress-bar {
    background-color: #ffb400;
    height: 20px;
    padding: 2px;
    width: 215px;
    margin: 50px 0;         
    border-radius: 5px;
    box-shadow: 0 1px 1px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
    display: inline-block;
    height: 110%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
}

.blue span {
    background-color: #ff6700;   
}
